
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #101010;
    color: white;
}


.navbar {
    position: absolute;
    top: 30px;
    right: 60px;
    
}

.nav-links {
    display: flex;
    gap: 40px;
    

}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    transition: opacity 0.3s;
  
}

.nav-links a:hover {
    opacity: 0.7;
    color: #28ca42;
    
}


.contenu {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content {
    max-width: 800px;
}


.subtitle {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}

.title {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 10px;
}

.job {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
}

.button {
    display: inline-block;
    padding: 16px 42px;
    background: white;
    color: black;
    border-radius: 50px;
    text-decoration:dotted;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.3s, box-shadow 0.3s;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.4);
    
}




.waves {
  position: absolute;
  top: 450px;
  width: 100%;
  height: auto;

}

.waves2 { 

  position: absolute;
  width: 100%;
  height: auto;
  
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.7);
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 0 0 10px rgba(52, 152, 219, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0);
    }


.bouton-pulse {
    background: #3498db;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    
    animation: pulse 2s ease infinite;
}




    
.section-apropos {
   padding: 150px 10%;
  background-color: #101010; 
  color: #ffffff;
}

.apropos-title {
  font-size: 40px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 50px;
}

.apropos-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.apropos-card {
  flex: 1 1 320px;
  background: radial-gradient(90deg, #404141, #000000);
  color: #ffffff;
  padding: 30px 35px;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
  font-size: 18px;
  line-height: 1.6;
}

.apropos-card p + p {
  margin-top: 15px;
}


.apropos-image-wrapper {
  flex: 1 1 320px;
  display: flex;
  justify-content: center;
}

.apropos-image {
  width: 100%;
  max-width: 450px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
  transform: rotate(-5deg)
}

.apropos-image :hover {
  transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.4);

}

@media (max-width: 900px) {
  .apropos-container {
    flex-direction: column;
  }

  .section-apropos {
    padding: 70px 7%;
  }

  .apropos-title {
    font-size: 32px;
  }
}






.section-competences-detail {
  padding: 40px 10% 100px;
  background-color: #101010;
  color: #ffffff;
}

.comp-title {
  font-size: 40px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 80px;

}

.competences-subtitle {
  font-size: 28px;
  letter-spacing: 2px;
  margin-bottom: 60px;
  margin-top: 60px;
  color: #0d816e;
}

.competences-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.stack-card {
  flex: 1 1 200px;
  min-width: 200px;
  max-width: 260px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 18px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(6px);
  border: 1px solid #0d816e;
}


.stack-card-wide {
  flex: 1 1 260px;
  max-width: none;
}


.stack-logo {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.stack-logo img {
  max-width: 30px;
  max-height: 30px;
}


.stack-name {
  font-size: 16px;
  font-weight: 600;
}


@media (max-width: 900px) {
  .section-competences-detail {
    padding: 40px 7% 80px;
  }

  .competences-subtitle {
    font-size: 24px;
  }

  .stack-card,
  .stack-card-wide {
    max-width: 100%;
  }
}

.skill-level {
  display: flex;
  gap: 6px;
  margin-top: 8px;
}

.skill-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  transition: background 0.3s ease;
}

.skill-dot.active {
  background: #3b6946;
  
}

.stack-card:hover .skill-dot.active {
    background: #3cffb2; 
    box-shadow: 0 0 10px #3cffb2, 0 0 20px rgba(60, 255, 178, 0.6);
    transform: scale(1.2); 
}


.skill-dot {
    transition: all 0.4s ease;
}



.competence-card,
.stack-card {
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.competence-card:hover,
.stack-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3) !important;
}

.competence-card:hover .circular-progress,
.stack-card:hover .circular-progress {
  transform: scale(1.1);
}

.competence-card:hover .progress-value,
.stack-card:hover .progress-value {
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}




.projects-section input {
  display: none;
}

.projects-section {
  padding: 120px 8vw;
  background-color: #101010;
  text-align: center;
  color: white;
}

.projects-title {
  font-size: 48px;
  letter-spacing: 4px;
  margin-bottom: 60px;
}

.projects-filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 80px;
}

.projects-filters label {
  padding: 12px 30px;
  border: 2px solid rgba(255,255,255,0.6);
  border-radius: 40px;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.projects-filters label:hover {
  background: white;
  color: rgb(35, 201, 179);
}

#all:checked ~ .projects-filters label[for="all"],
#sae:checked ~ .projects-filters label[for="sae"],
#perso:checked ~ .projects-filters label[for="perso"],
#design:checked ~ .projects-filters label[for="design"] {
  background: white;
  color: #0d816e;
}


.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 40px;
  justify-items: center;
  justify-content: center;
}



.project-card {
  aspect-ratio: 1;
  background: rgba(146, 130, 130, 0.15);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  backdrop-filter: blur(10px);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  width: 100%;        
    min-width: 250px; 
    max-width: 350px;   
    position: relative;
    overflow: hidden;

}



.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

model-viewer {
    width: 100%;
    height: 100%;
    --poster-color: transparent; 
    outline: none;
}

.project-card:hover {
  transform: scale(1.05);
  background: #0f5c15;
}



#sae:checked ~ .projects-grid .project-card:not(.sae),
#perso:checked ~ .projects-grid .project-card:not(.perso),
#design:checked ~ .projects-grid .project-card:not(.design) {
  opacity: 0;
  transform: scale(0.9);
  pointer-events: none;
  position: absolute;
}




.section-contact {
  padding: 100px 10%;
  background-color: #101010;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.contact-title {
  font-size: 40px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 60px;
}

.contact-container {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-window {
  width: 380px;
  height: 300px;
  background: #1e1e1e;
  border-radius: 12px;
  box-shadow: 0 25px 70px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  backdrop-filter: blur(10px);
}

.window-header {
  padding: 12px 20px;
  background: linear-gradient(135deg, #2d3748, #1a202c);
  display: flex;
  align-items: center;
  gap: 15px;
}

.mac-buttons {
  display: flex;
  gap: 8px;
}

.mac-close, .mac-minimize, .mac-maximize {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.mac-close { background: #ff5f57; }
.mac-minimize { background: #ffbd2e; }
.mac-maximize { background: #28ca42; }

.window-title {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  color: #e2e8f0;
}

.window-content {
  padding: 25px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 80px;
}



.contact-text {
  margin: 0;
  font-size: 16px;
  color: #e2e8f0;
  font-weight: 1000;
}




.contact-item:hover .contact-icon {
  transform: scale(1.1);
  box-shadow: 0 8px 25px rgba(44, 155, 199, 0.5);
}

@media (max-width: 900px) {
  .section-contact {
    padding: 90px 30%;
  }
  
  .contact-container {
    flex-direction: column;
  }
  
  .contact-title {
    font-size: 32 px;
  }
}




.site-footer {
  background: linear-gradient(180deg, #0f0f0f, #151515);
  padding: 20px 6vw;
  border-top: 1px solid rgba(255,255,255,0.1);
}

.footer-content {
  max-width: 1400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(255,255,255,0.75);
  font-size: 14px;
  letter-spacing: 1px;
}

.footer-name {
  color: #3cffb2;
  font-weight: 600;
}

.footer-icons {
  display: flex;
  gap: 18px;
}

.footer-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icons img {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
  opacity: 0.7;
  transition: all 0.3s ease;
}

.footer-icons img:hover {
  opacity: 1;
  transform: translateY(-3px);
}



@media (max-width: 700px) {
  .footer-content {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }
}


.map-card {
  width: 320px;
  height: 320px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}

.map-card iframe {
  width: 100%;
  height: 100%;
  border: none;
}


.project-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.8);
  backdrop-filter: blur(6px);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.project-overlay.active {
  display: flex;
}

.overlay-content {
  width: 85%;
  max-width: 1200px;
  height: 80vh;
  background: #111;
  border-radius: 24px;
  padding: 2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  position: relative;
}

.overlay-viewer model-viewer {
  width: 100%;
  height: 100%;
}

.overlay-text {
  color: white;
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 20px;
  background: none;
  border: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;

}
